.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3498db;
    margin: 0 2px;
    vertical-align: middle;
}

.circle-red {
    background-color: #ff5f57;
}

.circle-yellow {
    background-color: #ffbd2e;
}

.circle-green {
    background-color: #28c840;
}

.circle-gray {
    background-color: #747579;
}

.switch-language-bar button {
    background-color: inherit;
    border: 0px;
    padding: .3rem .5rem;
    border-top: 2px solid transparent;
}

.switch-language-bar .active {
    background-color: #272727;
    color: #FFFFFF;
    border-top: 2px solid #0078d4;
}

.switch-language-bar .inactive {
    background-color: inherit;
    color: #FFFFFF99;
}

.switch-language-bar .inactive:hover {
    background-color: #27272799;
    color: #FFFFFFCC;
}

.new-window-icon {
    opacity: 0.2;
}

.new-window-icon:hover {
    opacity: 1;
}