#githubinfo {
    font-size: .8em;
    position: relative;
}

#githubinfo a {
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: opacity .5s ease-in
}

#githubinfo a:hover {
    opacity: 1 !important;
    transition: opacity 0s ease-in
}

#githubinfo svg {
    filter: invert(1);
}

.nav-item a {
    color: white;
    opacity: .55;
}

.nav-item a:hover {
    color: white;
    opacity: .8;
    text-decoration: none;
    transition: opacity .2s ease-in-out;
}

.nav-item a:focus {
    color: white;
    opacity: .8;
}

.dropdown-menu a {
    color: black;
    opacity: .8;
}

.dropdown-menu a:hover {
    color: black;
    opacity: 1;
    background-color: #67217A11;
}

.dropdown-menu a:focus {
    background-color: #67217A;
    color: white;
}