#githubinfo {
    font-size: .8em;
    position: relative;
}

#githubinfo a {
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: opacity .5s ease-in
}

#githubinfo a:hover {
    opacity: 1 !important;
    transition: opacity 0s ease-in
}

#githubinfo svg {
    filter: invert(1);
}