<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/images/brand/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/images/brand/favicon-180.png">
    <link rel="manifest" href="/images/brand/manifest.webmanifest">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <meta name="theme-color" content="#67217A" />
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Description }}">

    {{ if .Params.OgImage }}
    <meta property="og:image" content="{{ .Params.OgImage }}">
    {{ else }}
    <meta property="og:image" content="/images/brand/banner.jpg">
    {{ end }}

    {{ if .Params.noindex }}
    <meta name="robots" content="noindex">
    {{ end }}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="/js/anchor.js"></script>
    <script src="/js/recipe.js?20241101c"></script>

    <link rel="stylesheet" href="/css/accordian.css?20231209">
    <link rel="stylesheet" href="/css/stats.css?20231209">
    <link rel="stylesheet" href="/css/page.css?20231209">
    <link rel="stylesheet" href="/css/github.css?20240321">
    <link rel="stylesheet" href="/css/contributors.css?20241125b">

    <link rel="stylesheet" href="/css/highlightjs/vs2015.css?20241101">
    <script src="/js/highlight.min.js"></script>
    <link rel="stylesheet" href="/css/recipe.css?20241101b">

</head>

<body onload="scrollToUrlAnchor()">

    {{ partial "header.html" . }}

    <div class="container-fluid p-0 content-limited-width">
        <main class="mb-5">
            {{ block "main" . }}
            {{ end }}
        </main>
    </div>

    {{ partial "footer.html" . }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    {{ range $index, $val := $.Params.jsFiles }}
    <script src="{{ index $.Params.jsFiles $index }}"></script>
    {{ end }}

    <script>
        const startupLanguage = localStorage.getItem("startupLanguage") ?? "Console";
        set_language(startupLanguage);
    </script>

</body>

</html>