{{ define "main" }}

{{ $isCookbook := hasPrefix .RelPermalink "/cookbook/" }}
{{ $isFaq := hasPrefix .RelPermalink "/faq/" }}
{{ $showBannerScott := or $isCookbook $isFaq }}

{{ if $showBannerScott}}
{{ partial "banner-scott.html" . }}
{{ else }}
{{ partial "banner-none.html" . }}
{{ end }}

<article class="my-0">
    <div class="p-2">
        {{ .Content | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)"
            `<a href="#${2}">${1}</a> ${3}` | safeHTML }}
    </div>
</article>

{{ end }}