a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article img {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100% !important;
}

article .img-border img {
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
    margin-top: 1em;
    margin-bottom: 2em;
}

article .img-micro img {
    max-width: 25% !important;
    max-height: 12em !important;
    margin: .5em !important;
}

article .img-small img {
    max-width: 35% !important;
    margin: 1em !important;
}

article .img-medium img {
    max-width: 65% !important;
    margin: 1em !important;
}

article code.hljs {
    background: transparent;
    padding: .5em !important;
    background: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #ddd !important;
    font-size: 14px;
    line-height: 150%;
    overflow-x: auto;
}

article blockquote {
    background-color: #f6f8fa;
    padding: 1em;
    margin: 2rem 3rem 2rem;
    display: block;
    border: 1px solid #ddd;
    border-left: 5px solid #ddd;
    border-radius: 3px;
}

blockquote p {
    margin: 0;
}

/* GitHub-style tables */

table {
    margin: 2em 0em;
}

td {
    border: 1px solid #dfe2e5;
    padding: .4em;
}

th {
    background-color: #f6f8fa;
    border: 1px solid #dfe2e5;
    font-weight: 600;
    padding: .4em;
}

.nav-item.dropdown a {
    padding: .5em;
}

.dropdown-menu {
    background-color: #9b4f96;
}

.dropdown-item.disabled {
    color: rgba(255, 255, 255, .2);
}

.dropdown-menu a {
    color: rgba(255, 255, 255, .8);
}

.dropdown-menu a:hover {
    color: white;
    background-color: #b866b2;
}

.dropdown-toggle {
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
}

.dropdown-toggle:hover {
    background-color: #9b4f96;
    border-color: transparent;
}

.navbar-toggler {
    background-color: #9b4f96;
}

/* highlight inline code to make it more colorblind friendly */

p code {
    background-color: #0000000a;
    padding: .1em .3em;
    border-radius: 6px;
}