<div style="max-width: 900px;" class="pt-3">

    <div class="d-flex pt-3 px-2">
        <div class="align-self-center" id="banner-scott-icon">
            <a href="https://swharden.com/resume/">
                <img src="/images/swharden.jpg" width="75" height="75" style="border-radius: 50%;">
            </a>
        </div>
        <div class="align-self-center">
            <div class="px-2" id="banner-scott-message">
                <span class="fw-semibold">I'm looking for my next role as a software developer!</span>
                If you enjoy this software I invite you to look over my
                <a href='https://swharden.com/resume/' target="_blank" class="fw-semibold">resume</a> and
                <a href='https://swharden.com/about/#contact' target="_blank" class="fw-semibold">email me</a> or
                <a href='https://www.linkedin.com/in/swharden/' target="_blank" class="fw-semibold">connect on
                    LinkedIn</a>.
                Thanks, and happy plotting!
                -Scott
            </div>
            <div class="px-2" style="font-size: 0.7rem; opacity: 0.4;">
                <a href="#" class="text-muted" onclick="toggleBannerVisibility()" id="banner-scott-toggle">hide
                    message</a>
            </div>
        </div>
    </div>

    <script>

        function reportBannerState() {
            const isHidden = document.getElementById("banner-scott-icon").classList.contains("d-none");
            const url = isHidden ? "/pulse/log/?banner-hidden" : "/pulse/log/?banner-seen";
            fetch(url);
        }

        function toggleBannerVisibility() {

            function toggle(element) {
                if (element.classList.contains("d-none")) {
                    element.classList.remove("d-none");
                } else {
                    element.classList.add("d-none");
                }
            }

            toggle(document.getElementById("banner-scott-icon"));
            toggle(document.getElementById("banner-scott-message"));

            const isHidden = document.getElementById("banner-scott-icon").classList.contains("d-none");
            document.getElementById("banner-scott-toggle").innerText = isHidden ? "Show message from Scott" : "Hide this message";
            localStorage.setItem("bannerIsHidden", isHidden);
            reportBannerState();
        }

        try {
            const hideBannerAtStartup = JSON.parse(localStorage.getItem("bannerIsHidden")) == true;
            if (hideBannerAtStartup) {
                toggleBannerVisibility();
            } else {
                reportBannerState();
            }
        } catch (error) {
            // fallback in case local storage access fails
            console.error(error);
            reportBannerState();
        }


    </script>
</div>