<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/quickstart/" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Quickstart
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="/quickstart/console/">
                        Console Application
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/winforms/">
                        Windows Forms
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/wpf/">
                        WPF
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/winui/">
                        WinUI
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/avalonia/">
                        Avalonia
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/eto/">
                        Eto
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/api/">
                        .NET Core API
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/blazor/">
                        Blazor WASM
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/powershell/">
                        PowerShell
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/notebook/">
                        .NET Notebook
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/ironpython/">
                        IronPython
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/console/">
                        C#
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/fsharp/">
                        F#
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/quickstart/vb/">
                        VB
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class=" nav-link" href="/cookbook/5.0/">
                Cookbook
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/demo/5.0/">
                Demo
            </a>
        </li>

        <li class="nav-item">
            <a class=" nav-link" href="/faq">
                FAQ
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Support
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="/demo/5.0/#notable-demos">
                        Demos with Source Code
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/faq/">
                        Frequently Asked Questions
                    </a>
                </li>
                <hr />
                <li>
                    <a class="dropdown-item" href="/support/">
                        How to Get Support
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/discord/">
                        ScottPlot on Discord
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Code
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="/changelog">
                        Changelog
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/contributors">
                        Contributors
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/contributing">
                        Contributing
                    </a>
                </li>

                <hr />

                <li>
                    <a class="dropdown-item" href="https://www.nuget.org/profiles/ScottPlot">
                        ScottPlot on NuGet
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://github.com/ScottPlot/ScottPlot">
                        ScottPlot on GitHub
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://github.com/ScottPlot/ScottPlot.NET">
                        This website on GitHub
                    </a>
                </li>

                <hr />

                <li>
                    <a class="dropdown-item" href="https://scottplot.net/metrics/">
                        Code Metrics
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://scottplotstatsstorage.z20.web.core.windows.net/">
                        Repository Metrics
                    </a>
                </li>

                <hr />

                <li>
                    <a class="dropdown-item" href="/versions">
                        Major Versions
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/about/">
                        About ScottPlot
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item show-when-small">
            <a class="nav-link" href="https://github.com/scottplot/scottplot/">
                ScottPlot on GitHub
            </a>
        </li>

        <li class="nav-item show-when-large">
            <a class="nav-link" href="https://github.com/scottplot/scottplot/">
                GitHub
            </a>
        </li>

    </ul>
</div>