<div class="text-end text-muted">
</div>

<div class="alert alert-warning align-items-center" role="alert">
    <div class="fs-5">
        <strong>
            ⚠️ WARNING: This documentation is outdated
        </strong>
    </div>
    <hr/>
    <ul class="mb-0">
        <li>This code example below is specific to <strong>ScottPlot version 4.1</strong></li>
        <li>Review the <strong><a href='/cookbook/5.0/'>ScottPlot 5 Cookbook</a></strong> for examples using the current version.</li>
        <li>See <a href='/faq/version-5.0/'>What's New in ScottPlot 5.0</a> for more information and migration tips.</li>
    </ul>
  </div>

{{ .Inner | markdownify }}