<ul>
<li><strong><a href='https://github.com/ScottPlot/ScottPlot/tree/main/src/ScottPlot5/ScottPlot5%20Demos/ScottPlot5%20WPF%20Demo/DemoWindows/Quickstart.xaml.cs' target='_blank'>WPF Quickstart</a></strong> - Create a simple plot using the WPF control.</li>
<li><strong><a href='https://github.com/ScottPlot/ScottPlot/tree/main/src/ScottPlot5/ScottPlot5%20Demos/ScottPlot5%20WPF%20Demo/DemoWindows/DisplayScaling.xaml.cs' target='_blank'>Display Scaling</a></strong> - Demonstrates how to track mouse position on displays which use DPI scaling.</li>
<li><strong><a href='https://github.com/ScottPlot/ScottPlot/tree/main/src/ScottPlot5/ScottPlot5%20Demos/ScottPlot5%20WPF%20Demo/DemoWindows/MultiThreading.xaml.cs' target='_blank'>WPF Multi-Threading</a></strong> - Demonstrate how to safely change data while rendering asynchronously.</li>
</ul>
