{{ $sourceUrl := .Get "sourceUrl" }}
{{ $fileName := path.Base $sourceUrl }}
{{ $imageUrl := .Get "imageUrl" }}
{{ $classFileName := path.Base $imageUrl }}
{{ $className := index (split $classFileName ".") 0 }}

<div class="p-2">
    <div class="text-light rounded"
        style="background-color: #181818; border: 2px solid #181818; box-shadow: 10px 10px 20px #00000066;">

        <div class="mx-2 mb-2 d-flex">
            <div>
                <span class="circle circle-red"></span>
                <span class="circle circle-yellow"></span>
                <span class="circle circle-green"></span>
            </div>
            <div class="px-1 text-center flex-grow-1">
                <a class="font-monospace fw-light text-light" style="font-size: 0.9em; opacity: .5;"
                    href='{{ $sourceUrl }}'>
                    {{ $fileName }}
                </a>
            </div>
        </div>

        <div class="switch-language-bar d-flex">
            <div class="mx-2" style="opacity: .5;">
                <img src="https://scottplot.net/images/brand/favicon.svg" width="20" height="20">
            </div>
            <button type="button" class="active" onclick="set_language_button_clicked(this)">Console</button>
            <button type="button" class="inactive" onclick="set_language_button_clicked(this)">WinForms</button>
            <button type="button" class="inactive" onclick="set_language_button_clicked(this)">WPF</button>
            <button type="button" class="inactive" onclick="set_language_button_clicked(this)">Other</button>

            <div class="w-100 text-end pe-2">
                <button type="button" onclick="copy_button_clicked(this)" class="code-copy-button" title="Copy to Clipboard">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-copy" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="p-2 recipe-code-container" style="background-color: #272727">
            <pre class="m-0"><code class="language-cs">{{ .Inner }}</code></pre>
            <pre class="m-0 language-cs p-0 border-0 rounded rounded-0"
                style="background-color: inherit !important;"><code class="language-cs"></code></pre>
        </div>
        <div class="text-end">
            <a href='{{ $sourceUrl }}' style="font-size: 0.8em; opacity: .5;" class="text-light px-2" target="_blank">
                Edit on GitHub
            </a>
        </div>
    </div>
</div>