<div class="alert alert-warning my-5" role="alert">
    <h4 class="alert-heading my-0">💡 The following information is specific to ScottPlot 4.1</h4>
    <p class="mb-0">
        This page has not yet been updated to reflect ScottPlot 5.0 (the latest version of ScottPlot).
        Information about ScottPlot 5 features may be present in the <a href="/cookbook/5.0/">ScottPlot 5.0 Cookbook</a>
        or demonstrated (with source code) in the <a href="/demo/">ScottPlot 5.0 Demo</a> application.
    </p>
</div>